# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
.DS_Store
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/.idea/
/geoplatform-dependencies.iml
/geoplatform-swagger-dependency/geoplatform-swagger-dependency.iml
/geoplatform-spring-dependency/geoplatform-spring-dependency.iml
/geoplatform-slf4j-dependency/geoplatform-slf4j-dependency.iml
/geoplatform-lombok-dependency/geoplatform-lombok-dependency.iml
/geoplatform-jackson-dependency/geoplatform-jackson-dependency.iml
/geoplatform-httpclient-dependency/geoplatform-httpclient-dependency.iml
/geoplatform-hibernate-validator-dependency/geoplatform-hibernate-validator-dependency.iml
/geoplatform-dropwizard-dependency/geoplatform-dropwizard-dependency.iml
/geoplatform-cxf-dependency/geoplatform-cxf-dependency.iml
/geoplatform-hibernate-validator-dependency/.idea/
/geoplatform-cxf-dependency/.idea/
geoplatform-geotools-dependency.iml
/geoplatform-geotools-dependency/.idea
/geoplatform-elasticsearch-dependency/geoplatform-elasticsearch-dependency.iml
/geoplatform-rxjava-dependency/geoplatform-rxjava-dependency.iml
/geoplatform-junit5-dependency/geoplatform-junit5-dependency.iml
/.gradle/
/build/
/geoplatform-cxf-dependency/build/
/geoplatform-dropwizard-dependency/build/
/geoplatform-elasticsearch-dependency/build/
/geoplatform-geotools-dependency/build/
/geoplatform-hibernate-validator-dependency/build/
/geoplatform-httpclient-dependency/build/
/geoplatform-jackson-dependency/build/
/geoplatform-junit5-dependency/build/
/geoplatform-lombok-dependency/build/
/geoplatform-rxjava-dependency/build/
/geoplatform-slf4j-dependency/build/
/geoplatform-spring-dependency/build/
/geoplatform-swagger-dependency/build/
